<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Mi pagina de Prueba</title>
</head>
<body>
    <h1>
        Hola, soy Elon Musk
    </h1>
    
    <div class="imagenA">
        <img src="../public/images/Elon_Musk_Royal_Society_(crop1).jpg" alt="Elon">
    </div>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores consequatur eos. Officiis tempore enim dolorem quisquam, distinctio, repudiandae fugit neque voluptatibus iusto ratione odit quas culpa aliquid, eius saepe.</p>
    
    <a href="https://en.wikipedia.org/wiki/Elon_Musk">Biografia</a>
    
</body>
</html>