body{
    font-family: 'Mukta', sans-serif;
}


h1{
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    text-transform:capitalize;
}

p {
    font-family: Georgia;
    font-size: 30px;
    line-height: 38px;
    text-align: justify;
}

.imagenA{
    text-align: center;
}

a{
    text-decoration: none;
}